flows.json
[{"id":"1f49d30c.7a0575","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"e46f8ae7.f4c268","type":"ui_switch","z":"1f49d30c.7a0575","name":"","label":"switch","tooltip":"","group":"1b637d5d.80a413","order":1,"width":"7","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":280,"wires":[["d6cefac9.f7d388","9aab3e87.4977a8"]]},{"id":"51f25a5a.46d2f4","type":"ui_switch","z":"1f49d30c.7a0575","name":"","label":"switch","tooltip":"","group":"597fd4bc.e9ca4c","order":1,"width":"7","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":340,"wires":[["a1f61fb6.14f3a","93281f3a.4dbea"]]},{"id":"f9363f85.a0f35","type":"ui_switch","z":"1f49d30c.7a0575","name":"","label":"switch","tooltip":"","group":"71b30ba2.907ca4","order":1,"width":"7","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":400,"wires":[["5c909364.6ec1b4","3b9ad5e.1fa032a"]]},{"id":"5c909364.6ec1b4","type":"function","z":"1f49d30c.7a0575","name":"","func":"if(msg.payload == true){\n    msg.payload = \"Les lampadaires de la zone sont allumés\";\n}else {\n    msg.payload = \"Les lampadaires de la zone sont éteints\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["2bdec3ed.b3da9c"]]},{"id":"a1f61fb6.14f3a","type":"function","z":"1f49d30c.7a0575","name":"","func":"if(msg.payload == true){\n    msg.payload = \"Les lampadaires de la zone sont allumés\";\n}else {\n    msg.payload = \"Les lampadaires de la zone sont éteints\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["d09c490c.ab8db8"]]},{"id":"d6cefac9.f7d388","type":"function","z":"1f49d30c.7a0575","name":"","func":"if(msg.payload == true){\n    msg.payload = \"Les lampadaires zone 1 sont allumés\";\n}else {\n    msg.payload = \"Les lampadaires zone 1 sont éteints\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["ad754c2e.055708"]]},{"id":"196c5a6c.bb9926","type":"function","z":"1f49d30c.7a0575","name":"","func":"var now = new Date();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\n\nvar hd = flow.get('hd') || 0;\nvar hf = flow.get('hf') || 0;\nvar md = flow.get('md') || 0;\nvar mf = flow.get('mf') || 0;\n\ntd = hd*100+md;\n\n\n\nvar mode = flow.get('mode') || \"Manuel\";\n\nif(mode==\"Manuel\") \n    return msg;\n\n// if mode Auto\n\nif(hour*100+minute >= td){\n    msg.payload = true;\n}\n\nelse {\n    msg.payload = false;\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["e46f8ae7.f4c268","51f25a5a.46d2f4","f9363f85.a0f35"]]},{"id":"c9533fe3.3bb4b8","type":"ui_button","z":"1f49d30c.7a0575","name":"","group":"b91b2e82.b5d268","order":3,"width":"7","height":"1","passthru":true,"label":"Allumer tout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"tout_allumer","x":190,"y":340,"wires":[["196c5a6c.bb9926"]]},{"id":"ea4b86ee.25a34","type":"ui_button","z":"1f49d30c.7a0575","name":"","group":"b91b2e82.b5d268","order":4,"width":"7","height":"1","passthru":false,"label":"Eteindre tout","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":190,"y":400,"wires":[["196c5a6c.bb9926"]]},{"id":"ad754c2e.055708","type":"ui_text","z":"1f49d30c.7a0575","group":"1b637d5d.80a413","order":3,"width":"7","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":280,"wires":[]},{"id":"d09c490c.ab8db8","type":"ui_text","z":"1f49d30c.7a0575","group":"597fd4bc.e9ca4c","order":3,"width":"7","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":340,"wires":[]},{"id":"2bdec3ed.b3da9c","type":"ui_text","z":"1f49d30c.7a0575","group":"71b30ba2.907ca4","order":3,"width":"7","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1030,"y":400,"wires":[]},{"id":"a816801f.43e43","type":"inject","z":"1f49d30c.7a0575","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":120,"wires":[["a51207d5.cbb6c8","196c5a6c.bb9926"]]},{"id":"5e248eac.ccdf38","type":"ui_text","z":"1f49d30c.7a0575","group":"f284cf23.cae9f8","order":1,"width":0,"height":0,"name":"","label":"Date et heure : ","format":"{{msg.payload}}","layout":"row-center","x":700,"y":120,"wires":[]},{"id":"a51207d5.cbb6c8","type":"function","z":"1f49d30c.7a0575","name":"timestamp convert","func":"var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth()+1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\n\nmsg.payload =day+\"/\"+month+\"/\"+year+\" à \"+hour+\":\"+minute;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["5e248eac.ccdf38"]]},{"id":"cef232be.990548","type":"debug","z":"1f49d30c.7a0575","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":480,"wires":[]},{"id":"bc565789.212b8","type":"debug","z":"1f49d30c.7a0575","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":520,"wires":[]},{"id":"8d682fc0.d52e","type":"debug","z":"1f49d30c.7a0575","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":560,"wires":[]},{"id":"f977b4dd.4d2838","type":"ui_text","z":"1f49d30c.7a0575","group":"c81f6d4d.5166a","order":1,"width":0,"height":0,"name":"","label":"CERI Smart City - Ligth Control","format":"","layout":"row-center","x":630,"y":40,"wires":[]},{"id":"4fe49743.6855e8","type":"ui_switch","z":"1f49d30c.7a0575","name":"Mode","label":"Manuel / Automatique","tooltip":"","group":"f284cf23.cae9f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"man","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":180,"wires":[["fed35be4.735378"]]},{"id":"fed35be4.735378","type":"function","z":"1f49d30c.7a0575","name":"","func":"var mode = flow.get('mode') || \"Manuel\";\n\nif(msg.payload) mode = \"Auto\";\nelse mode = \"Manuel\";\n\nflow.set('mode',mode);\nmsg.payload = mode;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[[]]},{"id":"8109f587.1a2ab","type":"ui_numeric","z":"1f49d30c.7a0575","name":"","label":"Heure début","tooltip":"","group":"f284cf23.cae9f8","order":4,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":370,"y":560,"wires":[["4b9c707.87cd61"]]},{"id":"33b8706f.20cc5","type":"ui_numeric","z":"1f49d30c.7a0575","name":"","label":"Minutes début","tooltip":"","group":"f284cf23.cae9f8","order":4,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":380,"y":600,"wires":[["87b34734.63d7f"]]},{"id":"399e1328.573bac","type":"ui_numeric","z":"1f49d30c.7a0575","name":"","label":"Heure fin","tooltip":"","group":"f284cf23.cae9f8","order":4,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":360,"y":660,"wires":[["b1d5ff73.1a2388"]]},{"id":"25465b2c.9e0fcc","type":"ui_numeric","z":"1f49d30c.7a0575","name":"","label":"Minutes fin","tooltip":"","group":"f284cf23.cae9f8","order":4,"width":"5","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":370,"y":700,"wires":[["2b3df45f.775d5c"]]},{"id":"4b9c707.87cd61","type":"function","z":"1f49d30c.7a0575","name":"","func":"var hd = flow.get('hd') || 0;\n\nhd = msg.payload;\n\nflow.set('hd',hd);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[[]]},{"id":"b1d5ff73.1a2388","type":"function","z":"1f49d30c.7a0575","name":"","func":"var hf = flow.get('hf') || 0;\n\nhf = msg.payload;\n\nflow.set('hf',hf);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":660,"wires":[[]]},{"id":"87b34734.63d7f","type":"function","z":"1f49d30c.7a0575","name":"","func":"var md = flow.get('md') || 0;\n\nmd = msg.payload;\n\nflow.set('md',md);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[[]]},{"id":"2b3df45f.775d5c","type":"function","z":"1f49d30c.7a0575","name":"","func":"var mf = flow.get('mf') || 0;\n\nmf = msg.payload;\n\nflow.set('mf',mf);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[[]]},{"id":"69a3b506.16d6d4","type":"inject","z":"1f49d30c.7a0575","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"18","payloadType":"num","x":190,"y":560,"wires":[["8109f587.1a2ab"]]},{"id":"9aab3e87.4977a8","type":"function","z":"1f49d30c.7a0575","name":"","func":"if(msg.payload) \n    msg.paload= 1;\nelse\n    msg.paload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["cef232be.990548"]]},{"id":"93281f3a.4dbea","type":"function","z":"1f49d30c.7a0575","name":"","func":"if(msg.payload) \n    msg.paload= 1;\nelse\n    msg.paload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["bc565789.212b8"]]},{"id":"3b9ad5e.1fa032a","type":"function","z":"1f49d30c.7a0575","name":"","func":"if(msg.payload) \n    msg.paload= 1;\nelse\n    msg.paload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":560,"wires":[["8d682fc0.d52e"]]},{"id":"1b637d5d.80a413","type":"ui_group","z":"","name":"Zone1","tab":"dd5fd1.09b0f03","order":4,"disp":true,"width":"21","collapse":false},{"id":"597fd4bc.e9ca4c","type":"ui_group","z":"","name":"Zone2","tab":"dd5fd1.09b0f03","order":5,"disp":true,"width":"21","collapse":false},{"id":"71b30ba2.907ca4","type":"ui_group","z":"","name":"Zone3","tab":"dd5fd1.09b0f03","order":6,"disp":true,"width":"21","collapse":false},{"id":"b91b2e82.b5d268","type":"ui_group","z":"","name":"Zone123","tab":"dd5fd1.09b0f03","order":3,"disp":false,"width":"21","collapse":false},{"id":"f284cf23.cae9f8","type":"ui_group","z":"","name":"Mode : ","tab":"dd5fd1.09b0f03","order":2,"disp":true,"width":"21","collapse":false},{"id":"c81f6d4d.5166a","type":"ui_group","z":"","name":"Accueil","tab":"dd5fd1.09b0f03","order":1,"disp":true,"width":"21","collapse":false},{"id":"dd5fd1.09b0f03","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":true,"hidden":false}]